<div class="container">
<br>
<figure class="text-end">
        <blockquote class="blockquote">
            <p>More people would learn from their mistakes if they weren't so busy denying them.</p>
        </blockquote>
        <figcaption class="blockquote-footer">
            <cite><i>Harold J. Smiths</i></cite>
        </figcaption>
    </figure> 
</div>

<%= render "form", quote: @quote %>

<br>

<div>
  <%= link_to "Show this quote", @quote, class:"btn btn-secondary btn-sm" %> 
  <%= link_to "Back to quotes", quotes_path, class:"btn btn-secondary btn-sm" %>
</div>
