
<div class="container">
  <br>
    <figure class="text-end">
        <blockquote class="blockquote">
            <p>A proverb is a short sentence based on long experience</p>
        </blockquote>
        <figcaption class="blockquote-footer">
            <cite><i>Miguel de Cervantes</i></cite>
        </figcaption>
    </figure> 
</div>

  <div id="quotes">
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <% @quotes.each do |quote| %>
        <div class="col"> 
          <div class="card">  
            <div class="card-body">
              <h5 class="card-title "><%= quote.author %> </h5>  
                <p class="card-text"><%= quote.text %></p>
                <p class="card-text">Genre: <%= quote.genre %></p>
            </div>
            <div class="card-footer">
              
              <%= link_to "Show Quote", quote, class:"btn btn-secondary btn-sm"%>
            </div>
          </div>
        </div>
      <% end %>
  </div>
</div>



