<div class="container bg-light">
    <h6>
        <br>
        <q>What wisdom can you find that is greater than kindness?</q>
    </h6>
    <p>
        <cite>-- Jean Jacques Rousseau</cite>
    </p>
</div>