<div class="container bg-light">
    <figure class="text-center">
        <blockquote class="blockquote">
            <p>What wisdom can you find that is greater than kindness?</p>
        </blockquote>
        <figcaption class="blockquote-footer">
            <cite><i>Jean Jacques Rousseau</i></cite>
        </figcaption>
    </figure>  
</div>    
