<div class="container">
    <br>
    <h1>Hi, there! </h1>   
    <br> 
        <p> My name is Hiro, and I am a student learning full-stack development and working towards restarting my career as a software engineer.</p> 
        <p> I am a historian by training and bring some solid research skills to the table--mainly fueled by coffee, curiosity, and oxford commas.</p>
        <p> If you would like to collaborate, I am looking for opportunities that align with teamwork, lifetime learning, professional growth, and a true sense of mission...which I think is pretty inclusive.</p>
</div>