<br><br><br><br>
<div class="container">
    <figure class="text-center">
        <blockquote class="blockquote">
            <h1>ThiNk AnD WoNdeR wOnDeR AnD tHiNk!</h1>
        </blockquote>
        <figcaption class="blockquote-footer">
            <cite><i>Dr. Suess</i></cite>
        </figcaption>
    </figure> 
<br>

    <div class="container text-center">
        <p> Welcome to HiroCodes, a place for you to share your favorite quotes and discover new insights </p>
    </div>
</div>
